html,
body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}

.tittle {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 25px;
}
.card {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}
#computers-cards,
#players-cards {
    height: 240px;
}
